div,table {
    float:left;
}

div.figure {
    width:80%;
    margin-left:10%;
    padding:5px;
}

div.figure table {
    width:98%;
    text-align:center;
}

div.figure td {
    border:1px solid black;
}

/* gradual shading */
h1,h2,h3,h4 {
    width:90%;
    margin:2px;
    padding-left:2px;
}

h1 {
    background: #BAE6AE;
}
h2 {
    background: #EBE5C3;
}
h3 {
    background: #BAE6AE;
}
h4 {
    background: #EBE5C3;
}

p {
    background:#CBEDFF;
}


h1 {
    margin-left:15px;
    float:left;
    padding-right:25px;
}

h2 {
    margin-left:20px;
    padding-right:20px;
    float:left;
}

h3 {
    margin-left:25px;
    padding-right:15px;
    float:left;
}

h4 {
    margin-top:4px;
    margin-bottom:4px;
    margin-left:30px;
    padding-right:10px;
    float:left;
    width:90%;
}

p {
    padding-left:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-right:1em;
    float:left;
    margin-left:0;
    margin-right:0;
    margin-top:1em;
    margin-bottom:1em;
    width:85%;
}

ul,ol {
    float:left;
    width:75%;
    margin-left:12%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

h1 {
    font-size:250%;
}

h2 {
    font-size:200%;
}

h3 {
    font-size:150%;
}

h4 {
    font-size:125%;
}

p {
    margin-left:5%;
}

pre.block {
    float:left;
    margin-top:1.5em;
    margin-bottom:1.5em;
    margin-left:15%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border:1px dashed #00ff33;
    background:#33ff99;
}

pre.session {
    background:#EBE5C3;
}

img {
    float:left;
    margin:1em;
}

span.output {
    padding-left:2em;
    font-style:italic;
}

span.input {
    font-weight:bold;
}

div.halfpage {
    float:left;
    overflow:auto;
    height:30em;
    padding:0;
}

table.references {
    width:90%;
    margin-left:5%;
}

table.references th {
    text-align:left;
}

div.gist {
    margin-left:5%;
    width:90%;
    overflow:auto;
    height: 20em;
}

div.screenshot {
    margin-left:5%;
    overflow:auto;
    height: 20em;
}

td.sampletxt {
    padding:1em;
    text-align:left;
    font-family:monospace;
}

td.master {
    background: #bad8d8;
    color:#000000;
}
td.regionserver {
    background: #bad8d8;
    color:#000000;
}
td.hbaseshell {
    background: #d9d9d5;
    color:#00000;
}
td.maven {
    background: #006633;
    color:#ffff99;
}
td.git {
    background: #000000;
    color:#00ff00;    
}
