h1 {
    font-size:250%;
    padding:0;
    padding-left:1em;
    padding-bottom:0.5em;
}

h2 {
    font-size:200%;
    padding:0;
    padding-left:2em;
    padding-bottom:0.5em;
}

h3 {
    font-size:150%;
    padding:0;
    padding-left:4em;
}

h4 {
    font-size:125%;
    padding:0;
    padding-top:1em;
    padding-bottom:0.5em;
    padding-left:5em;
}

p {
    margin-left:10%;
}

ul {
    margin-left:12%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

pre.block {
    margin-top:1.5em;
    margin-bottom:1.5em;
    margin-left:5%;
    padding-left:0.5em;
    width:90%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border:1px dashed #00ff33;
    background:#33ff99;
}