h1 {
    float:left;
    margin-left:1em;
}

h3 {
    float:left;
    width:30%;
}

h2,h4 {
    width:90%;
    float:right;
}

p,ul {
    width:80%;
    float:right;
}

h1 {
    font-size:250%;
    padding:0;
    padding-left:0.25em;
    padding-bottom:0.5em;
}

h2 {
    font-size:200%;
    padding:0;
    padding-left:2em;
    padding-bottom:0.5em;
    margin-top:0.5em;
}

h3 {
    font-size:150%;
    padding:0;
    padding-left:4em;
}

h4 {
    font-size:125%;
    padding:0;
    padding-top:1em;
    padding-bottom:0.5em;
    padding-left:5em;
}

p {
    margin-left:10%;
}

ul {
    margin-left:12%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

pre.block {
    float:left;
    margin-top:1.5em;
    margin-bottom:1.5em;
    margin-left:15%;
    width:75%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border:1px dashed #00ff33;
    background:#33ff99;
}